@import '../variables.scss';

.ui.loader {
    margin-top: 6em;
}

.ui.card.board-container {
    padding: 1.2em 1em;

    .card {
        border-radius: 6px !important;

        &.gold {
            border-top-left-radius: 0 !important;
            box-shadow: 0 1px 3px 0 $gold, 0 0 0 1px $gold;
        }

        &.silver {
            border-top-left-radius: 0 !important;
            box-shadow: 0 1px 3px 0 $silver, 0 0 0 1px $silver;
        }

        &.bronze {
            border-top-left-radius: 0 !important;
            box-shadow: 0 1px 3px 0 $bronze, 0 0 0 1px $bronze;
        }
    }
}

.column {

    &.board-avatar-container {
        align-self: center;
        margin: 0 1em;
        padding: .4em !important;
    }

    &.board-info-container {
        padding-right: 0 !important;
        padding-left: 0 !important;

        .ui.grid {
            margin: 0 !important;
            padding-right: 0;
            height: 100%;
            border-left: solid #cecccc 1px;

            @media screen and (max-width: 1208px) {
                border: none;
            }
        }
    }
}

.ui.label.award {
    color: #e2e2e2 !important;
    cursor: default !important;

    i {

        &.gold::before {
            color: $gold;
        }

        &.silver::before {
            color: $silver;
        }

        &.bronze::before {
            color: $bronze;
        }
    }
}
