@import '../variables.scss';

.ui.grid > .row.navbar-container {
    padding-bottom: .025em;
}

button.navbar-tab {
    border-top-left-radius: 32rem !important;
    border-top-right-radius: 32rem !important;
    background-color: white !important;

    .content {
        margin-bottom: -.2em;
        padding-top: .15em;
    }

    &:hover,
    &:focus,
    &.active {
        background-color: $teal !important;
        transition: background-color .4s ease;

        &.logout {
            background-color: $orange !important;
        }

        div {
            color: $white;
            transition: color .4s ease;
        }
    }
}

.ui.grid > .divider.navbar-divider {
    margin-top: 0 !important;
    height: .25em;
    background-color: $teal;
}

.ui.label.navbar-user-info {
    display: flex;
    margin-top: -4px;
    float: right;
    background-color: $white;
    font-weight: normal;
    text-align: right;

    img {
        margin-top: -2px;
        margin-left: .4em;
    }
}
