@import '../variables.scss';

.navbar-tab {
    background-color: white !important;
}

.navbar-tab:hover {
    background-color: $teal !important;
    transition: background-color .4s ease;
}

.navbar-tab:hover > div {
    color: $white;
    transition: color .4s ease;
}

.navbar-menu > .navbar-tab {
    border-top-left-radius: 32rem !important;
    border-top-right-radius: 32rem !important;
}
