@import '../variables.scss';

.content.question-header {
    padding: 1.4em 2em !important;
    background-color: #f9f8f9 !important;
}

.ui.header {

    &.question-title {
        font-weight: bolder;
    }

    &.question-text {
        font-weight: lighter;
    }
}

.column {

    &.question-avatar-container {
        align-self: center;
        margin: 0 2.4em;
        padding: 1.2em !important;
    }

    &.question-info-container {
        padding-right: 0 !important;
        padding-left: 0 !important;

        .ui.grid {
            margin: 0 !important;
            padding: .4em 1.6em;
            padding-right: 0;
            height: 100%;
            border-left: solid #cecccc 1px;

            @media screen and (max-width: 1208px) {
                border: none;
            }
        }
    }
}

.row.question-view-pull-container {
    padding-bottom: 0 !important;

    .ui.button {
        width: 100%;
    }
}
